<html>
<body>
<p>${name} ${solution}： </p>
<br>
<p>您好！ 
<br>
<p>阁下应征本公司${job_title}，面试安排如下:</p> 
<br>
<p>日期及时间：${time}, 请应征者准时到达! </p> 
<br>
<p>地址：珠海市吉大海滨南路52号中信南航国际广场401。 </p>
<br>
<p>所需文件： </p>
<p>1、 近照1或2吋一张； </p>
<p>2、 居民身份证原件及复印件； </p>
<p>3、 最高学歷毕业证书、资格证等原件复印件； </p>
<p>4、 工资单及工作证明原件及复印件(如工资单或工作证明未有, 可后补)。 </p>
<br>
<p>联络方法： </p>
<p>电邮：debbie.hu@goalslot.cn</p>
<p>电话：0756-8138781/8138782 转838</p> 
<p>网站：www.goalslot.cn</p>
<br>
<p>收到郵件請回複确認，謝謝！ </p>
<br>
<p>如有疑问，欢迎来电或邮件咨询。 </p>
<br>
<p>Debbie Hu 胡小姐</p>
<br>
</body>
</html>
 