<html>
<body>

<p>致${cn_l_name}${cn_name}: </p>
<p><br/>&nbsp;&nbsp;&nbsp;感謝您有興趣加入澳門彩票有限公司，我們已收到您的網上職位申請，由於資料未完整，故希望閣下可以再次登入 https://members.macauslot.com/hr/hr_top_m1.html ，完成資料填補，讓我們的系統能成功接納您的職位申請。<br /><br />如有疑問，可與人才資源部聯繫。 <br/></p>
<p><br/>以下是閣下的帳戶資訊</p>
<p>帳號：${email_address}<br/><br/></p>
<p>
    辦公時間：<br/>
    星期一至五：09:30-13:00, 14:00-18:30<br/>
    電話：${contact_phoneNumbers}<br/><br/>
</p>
<p>人才資源部 上 <br/>
    澳門彩票有限公司</p>
<br/><br/>
<p>Dear ${en_name} ${en_l_name},</p>
<p><br/>&nbsp;&nbsp;&nbsp;Thank you for your interest to join Macau-Slot. Your application has been received but please login to our webpage https://members.macauslot.com/hr/hr_top_m1.html to input all the required information, so that our system can identify your application.<br/><br/> You can contact Human Resources Department if you have any inquiry.<br/></p>
<p><br/>Details of your account are provided below:</p>
<p>Your Username:${email_address}<br/><br/></p>
<p>
    Office hour:<br/>
    Mon to Fir：09:30-13:00, 14:00-18:30<br/>
    Tel：${contact_phoneNumbers}<br/><br/>
</p>
<p>Human Resources <br/>
    Macau Slot</p>



<p>Human Resources <br>
    Macau Slot</p>



</body>
</html>
