<html>

<body>

<p>致${cn_l_name}${cn_name}: </p>
<p>感謝閣下之申請本司職位。倘閣下履歷合乎職位所需，人才資源部專員將盡快與您聯繫。 </p>
<p>以下是閣下的帳戶資訊</p>
<p>帳號：${email_address}<br>
    密碼：${pwd}<br>
<p>人才資源部 上 <br>
    澳門彩票有限公司</p>

<p>Dear ${en_name} ${en_l_name},</p>
<p>Thank you for your interest to join Macau-Slot. If your talents are corresponding to the job's requirement, a Human Resources professional will be in contact with you as soon as possible.</p>
<p>Details of your account are provided below:</p>
<p>Your Username:${email_address}<br>
    Your Password: ${pwd}<br></p>

<p>Human Resources <br>
    Macau Slot</p>


</body>

</html>
