<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
 
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link LOGO_style" href="#" th:href="@{/dispatch/main}">
        <!--     <img th:src="@{/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                  style="opacity: .8">-->
        <div class="brand-text font-weight-bold">Demo</div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link self_sidebar_maintitle">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <p>
                            &emsp;主菜单
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a target="menuFrame" th:href="@{/user/page1}" href="#" class="nav-link ">
                                <i class="fa nav-icon" aria-hidden="true"></i>
                                <p>&ensp;菜单一</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a target="menuFrame" th:href="@{/user/page2}" href="#" class="nav-link ">
                                <i class="fa nav-icon" aria-hidden="true"></i>
                                <p>&ensp;菜单二</p>
                            </a>
                        </li>
                    </ul>
                </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


<nav th:fragment="navbar" class="main-header navbar navbar-expand navbar-white navbar-light navbar_self">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
        
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-user"></i>
                <span>[[${session.user.username}]]</span>
            </a>
            <div class="dropdown-menu  dropdown-menu-right self-dropdown-width">
                <a href="#" th:href="@{/user/delete/session}" class="dropdown-item">
                    <i class="fas fa-sign-out-alt mr-2"></i>登出
                </a>

            </div>
        </li>
    </ul>
</nav>
<script>
    $().ready(function () {
// 	console.log('abcd');
    });
</script>


